@charset "UTF-8";

#main {
	text-decoration: none;
}

.me {
	text-align:left;
	background-color: lightcoral;
	color: black;
	border: 1px solid #ffe4c4;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
	width: 342px;
	word-break: break-all;
}

.myname {
	width: 90px;
	text-align: left;
	word-break: break-all;
	font-size: 100%;
}

.you {
	text-align:left;
	background-color: gold;
	color: black;
	border: 1px solid #ffe4c4;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
	width: 342px;
	word-break: break-all;
}

.yourname {
	width: 90px;
	text-align: left;
	word-break: break-all;
	font-size: 100%;
}

.msoutside {
	width: 90px;
}

.msnone {
	width: 342px;
}

.msinside {
	width: 36px;
}

.directpage {
	background-color: #3399CC;
	width: 900px;
	padding: 0px;
	text-align: center;
	margin: 0px;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
}







#textarea {
	width: 500px;
	height: 40px;
	font-size: 100%;
}


.btn {
	border: 1px solid #ffe4c4;
	border-collapse: separate;
	border-radius: 5px;
	border-spacing: 0;
	height: 50px;
	width: 60px
}

.btn2 {
	border: 1px solid #ffe4c4;
	border-collapse: separate;
	border-radius: 5px;
	border-spacing: 0;
	width: 150px;
}

.deletebtn {
	border: 1px solid #ffe4c4;
	border-collapse: separate;
	border-radius: 5px;
	border-spacing: 0;
}