@charset "UTF-8";

#main {
	text-decoration: none;
}


#me {
	background-color: lime;
	color: black;
	border: 1px solid #ccc;
  border-collapse: separate;
  border-radius: 10px;
  border-spacing: 0;
}

#you {
	background-color: white;
	color: black;
	border: 1px solid #ccc;
  border-collapse: separate;
  border-radius: 10px;
  border-spacing: 0;

}

#page {

	background: #3399CC;
	width: 900px;
	padding: 0px;
	text-align: center;
	margin: 0px;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
}