@charset "UTF-8";

a {
	color: black;
}

.groupname {
	width: 864px;
	text-align: center;
	font-size: 200%;
	font-weight: bold;
}

.author {
	width: 864px;
	text-align: center;
	font-size: 125%;
	font-weight: bold;
}

.topoutside {
	width: 18px;
}

.msoutside {
	width: 90px;
}

.msinside {
	width: 36px;
}

.msnone {
	width: 342px;
}

.textarea {
	width: 500px;
	height: 40px;
	font-size: 100%;
}

.btn {
	border: 1px solid #ffe4c4;
	border-collapse: separate;
	border-radius: 5px;
	border-spacing: 0;
	height: 50px;
	width: 60px
}

.btn2 {
	border: 1px solid #ffe4c4;
	border-collapse: separate;
	border-radius: 5px;
	border-spacing: 0;
	width: 150px;
}

.deletebtn {
	border: 1px solid #ffe4c4;
	border-collapse: separate;
	border-radius: 5px;
	border-spacing: 0;
}

#main {
	text-decoration: none;
}

#myName {
	width: 90px;
	text-align: left;
	word-break: break-all;
	font-size: 100%;
}

#otherName {
	width: 90px;
	text-align: right;
	word-break: break-all;
	text-decoration: none;
	font-size: 100%;
}

#me1 {
	width: 342px;
	word-break: break-all;
	background-color: red;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
	font-size: 100%;
}

#other1 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: red;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#me2 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: aquamarine;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#other2 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: aquamarine;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#me3 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: blue;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#other3 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: blue;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#me4 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: khaki;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#other4 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: khaki;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#me5 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: springgreen;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#other5 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: springgreen;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#me6 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: orange;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#other6 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: orange;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#me7 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: lavender;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#other7 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: lavender;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#me8 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: burlywood;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#other8 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: burlywood;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#me9 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: deepskyblue;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}

#other9 {
	width: 342px;
	word-break: break-all;
	font-size: 100%;
	background-color: deepskyblue;
	color: white;
	text-align: left;
	font-weight: bold;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
}