@charset "UTF-8";

#main {
	text-decoration: none;
}

#myName {
	text-align: left;
}

#otherName {
	text-align: right;
}

#1Me {
	background-color: red;
	color: white;
	width: 35%;
	text-align: center;
}

#1Other {
	background-color: red;
	color: white;
	width: 35%;
	text-align: right;
}

#2Me {
	background-color: aquamarine;
	color: white;
	width: 35;
	text-align: left;
}

#2Other {
	background-color: aquamarine;
	color: white;
	width: 35%;
	text-align: center;
}

#3Me {
	background-color: lightsteelblue;
	color: white;
	width: 35;
	text-align: left;
}

#3Other {
	background-color: lightsteelblue;
	color: 7;
	width: 35%;
	text-align: right;
}

#4Me {
	background-color: khaki;
	color: white;
	width: 35;
	text-align: left;
}

#4Other {
	background-color: khaki;
	color: white;
	width: 35%;
	text-align: right;
}

#5Me {
	background-color: springgreen;
	color: white;
	width: 35;
	text-align: left;
}

#5Other {
	background-color: springgreen;
	color: white;
	width: 35%;
	text-align: right;
}

#6Me {
	background-color: orange;
	color: white;
	width: 35;
	text-align: left;
}

#6Other {
	background-color: orange;
	color: white;
	width: 35%;
	text-align: right;
}

#7Me {
	background-color: white;
	color: black;
	width: 35;
	text-align: left;
}

#7You {
	background-color: white;
	color: black;
	width: 35%;
	text-align: right;
}