@charset "UTF-8";

#mainPage {
	background: #181010;
	width: 900px;
	padding: 0px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../img/img6.jpg");
	background-repeat: repeat-y;
	background-position: center 0px;
}

#toBottomMainPage {
	text-align:right;
}
#toBottomMainPage a{
	color:white;
}

#toTopMainPage {
	text-align:right;
	padding-right:50px;
}
#toTopMainPage a{
	color:white;
}

.page {
	background: #FFC085;
	text-align: center;
	width: 80%;
	line-height: 0px auto;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

.rogoTable {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.titleTable {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 80%;
	padding-bottom: 0px;
	background-color: #FF7A00;
	border: none;
}
.titleTable td:hover {
	color: #FFFFFF;
}

.table {
	display: inline-block;
	vertical-align: top;
	padding-left: 100px;
}

.tabTable {
	text-align: left;
	border-spacing: 0px;
	border-collapse: collapse;
}
.tabTable td:nth-of-type(1) {
	text-align: left;
}

.tabTable td:nth-of-type(2) {
	text-align: left;
}

.mTable {
	vertical-align: top;
	padding: 0px;
	display:inline-block;
	word-break:break-all;
}
.mTable td:nth-of-type(1) {
	text-align: left;
	background-color: #B13228;
	color: #FFFFFF;
	width:150px;
}
.mTable td:hover{
	text-align: left;
	background-color: #CF3228;
	color: #FFFFFF;
}
.mTable td:nth-of-type(2) {
	text-align: left;
	background-color: #FF7A00;
	color: #FFFFFF;
	border: 1px solid #FF7A00;
	border-collapse: separate;
	border-radius: 10px;
	border-spacing: 0;
	width:300px;
}

.inlineBlock{
	vertical-align: middle;
	display:inline-block;
	padding-left:20px;

}

.block{
	display:block;
}

a {
	color: #FFFFFF;
}
