@charset "UTF-8";

#header {
	width: 900px;
	text-align: left;
	background-color: #B13228;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}
#header a{
	color:white;
}

#page {
	width: 900px;
	padding: 0px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: bisque;
	font-family: 'Book Antiqua', 'Avenir', 'Corbel', 'Yu Gothic';
	overflow: hidden;
}

#footer {
	width: 800px;
	text-align: center;
	background-color: #B13228;
	color: #FFFFFF;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
#footer a{
	color:white;
}

.centerizedTable {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.imgBtn img:hover{
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.imgBtn input:hover{
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
