@charset "UTF-8";

#page {
	background: #FF7A00;
	width: 900px;
	padding: 0px;
	text-align: center;
	margin: 30px auto;
}

.page {
	background: #FFC085;
	text-align: center;
	width:80%;
	line-height: 0px auto;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

.title{
	font-size:500%
}

.titleTable{
	margin-left: auto;
	margin-right: auto;
	width:800px;
	height:200px;
}


.td01:target {
  background-color: red;
}



.table {
	margin-left: auto;
	margin-right: auto;
}

.table td {
	text-align: left;
}