@charset "UTF-8";

.main {
	width: 900px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Book Antiqua', 'Avenir', 'Corbel', 'Yu Gothic';
}

input {
	text-align: center;
}

.table {
	border-collapse: collapse;
	border: 3px solid green;
}

.td {
	padding: 0.5em;
	border: 0px solid green;
	text-align: center;
}

.p1 {
	font-size: 200%;
}

.p2 {
	font-size: 150%;
}

.p3 {
	font-size: 125%;
}